<div class="section bg-dark text-white">
  <h3 class="text-whitemb-2">HealthcareTips</h3>
  <p>Health articles that keep you informed about good health practices</p>
  <div class="container mt-5">
    <div class="row row-eq-height">
      <div class="col-md-6 mb-4">
        <div class="card h-100 position-relative">
          <img class="card-img img-fluid h-100" src="./assets/foods/food3.jpg" alt="Image 1">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <div class="card fond-transparent">
              <div class="card-body text-white">
                <h5 class="card-title">Is fast food a slow killer</h5>
                <p class="card-text">Health articles that keep you informed about good health practices</p>
                <a class="btn btn-outline-light btn-sm mr-auto"><i class="fa fa-eye"></i> View More </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100 position-relative">
          <img class="card-img img-fluid h-100" src="./assets/foods/food2.jpg" alt="Image 2">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <div class="card fond-transparent">
              <div class="card-body text-white">
                <h5 class="card-title">Best food habits for healthier life</h5>
                <a class="btn btn-outline-light btn-sm ml-auto"><i class="fa fa-eye"></i> View More </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 position-relative">
          <img class="card-img img-fluid h-100" src="./assets/foods/food1.jpg" alt="Image 3">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <div class="card fond-transparent">
              <div class="card-body text-white">
                <h5 class="card-title">Antibiothecs and healths supplements on eye opener</h5>
                <a class="btn btn-outline-light btn-sm ml-auto"><i class="fa fa-eye"></i> View More </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
